@import 'skeleton.scss';

h1 {
  background: white;
  color:black;
  display: inline-block;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
}

h2, #ForeverHomesForStrays,h3,h4,.sixColumns {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
}
#hours {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
  padding-top: 60px;
  padding-left: 20px;
}

#address {
 font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
  padding-top: 60px;
  padding-right: 20px;
}

p {
  display: inline-block;
  color: white;
  padding-left: 30px;
  margin: 0 auto;
  display: left;
}

button {
  display: inline-block;
  border: white;
  text-align: center;
  padding: 0px;
  padding-left:2%;
  padding-right:2%;
  float: center;
  margin: 0 auto;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
  width: 16.666666666%;
  color: white;
}
img {
  display:inline;
  width:100%;
  height:100%;
}

#rCorners1,#rCorners2,#rCorners3{
  border-radius: 15px 50px 5px;
  background-color:rgb(166,53,52);
  height: 150px;
  text-align:center;
  padding: 50px 0;

}

#rCorners4 {
  border-radius: 15px 50px 30px 5px;
  background-color:rgb(166,53,52);
  width: 100%;
  height: 150px;
  text-align:center;
}

#header {
  background: black;
  border-color: white;
}

#navbar {
  margin-top: .25%;
  background: black;
}

#imageOne {
  width:50px;
  height:50px;
  padding-left: 83.5%;
  padding-top: 50%;
}

#facebook {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  font-size: 15px;
}

#headerAbout{
  text-align:center;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 48px;
  font-size: 25px;
}
.headerAbout2{
  border-bottom:solid;
  border-color:black;
  background-color:rgb(166,53,52);
  color:white;
}
